.paintContainer {
	display: grid;
	padding: 10px;
	background-color: grey;
	width: 300px;
	height: 500px;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"x x x"
	"a b c"
	"d e f"
	"g h i";
		}

}

}

.paint {
	border: 1px solid black;
}


#clear {
	background-color: silver;
	grid-area: x;
}

#red {
	background-color: rgb(255, 0, 0);
	grid-area: a;
	}

#blue {
	background-color: rgb(0, 0, 255);
	grid-area: b;
	}

#yellow {
	background-color: rgb(255, 255, 0);
	grid-area: c;
	}

#purple {
	background-color: rgb(139, 0, 139);
	grid-area: d;
	}

#green {
	background-color: rgb(0, 128, 0);
	grid-area: e;
	}

#orange {
	background-color: rgb(255, 69, 0);
	grid-area: f;
	}

#black {
	background-color: black;
	grid-area: g;
	}

#brown {
	background-color: rgb(128, 0, 0);
	grid-area: h;
	}

#white {
	background-color: white;
	grid-area: i;
	}


