{% extends 'base.html' %}

{% block title%}Product Details{%endblock%}

{%block heading%}{{product["Name"]}}{%endblock%}

{%block contentsummary%}

{% if product["Status"] == "Available" %}
	<div class="alert alert-success" role="alert">
  		This product is currently available. Order while stocks last!
	</div>
{% else %}
	<div class="alert alert-danger" role="alert">
  		Sorry - this product is currently out of stock.
	</div>
{% endif %}

{%endblock%}

{%block main%}

	<div class="card">
		<h5 class="card-header">Product Details</h5>
			<div class="card-body">
				{% for key in product %}
    				<div class="row">
						<div class="col-2">{{key}}</div>
						<div class="col-10">{{product[key]}}</div>
					</div>
				{% endfor %}
				<br>
				<a href=/products class="btn btn-primary">Back</a>
			</div>
	</div>








{%endblock%}