{% extends 'base.html' %}

{% block title%} Home Page {%endblock%}

{%block heading%}Marketplace Home Page{%endblock%}

{%block contentsummary%}This is the home page with information about the site...{%endblock%}

{%block main%}
		<h2>Main Content</h2>
        <p>Everything from the content heading onwards is found within the relevant template for each route and overwrites the base. It could include:</p>
		<ul>
				<li>More blocks</li>
				<li>For loops</li>
                <li>If statements</li>
		</ul>
{%endblock%}