{% extends 'base.html' %}

{% block title%}Home{%endblock%}

{%block heading%}Welcome to Tech Market{%endblock%}

{%block contentsummary%}The fastest growing online retailer in the west...{%endblock%}

{%block main%}
<div class="container">
	<h2>About</h2>
	<p>We supply a wide range of tech products and accessories for our clients all over the world. </p>
	<div class="row justify-content-center">
		<div class = "col-4">
			<ul>
				<li>Laptops</li>
				<li>Computers</li>
                <li>Phones</li>
			</ul>
		</div>
		<div class = "col-4">
			<ul>
				<li>Audio Eqipment</li>
				<li>HD Monitors</li>
                <li>Wireless Routers</li>
			</ul>
		</div>

	</div>

<a href=/products><button type="button" class="btn btn-primary btn-lg btn-block">Check Out Our Products</button></a>
</div>

{%endblock%}