{% extends 'base.html' %}

{% block title%}Products{%endblock%}

{%block heading%}Tech Market Products{%endblock%}

{%block contentsummary%}Browse our extensive range of tech products.{%endblock%}

{%block main%}
		{% for x in data %}
		<div class="card">
  			<h5 class="card-header">{{x["Name"]}}</h5>
			<div class="card-body">
				<h5 class="card-title">{{x["ProductId"]}}</h5>
    			<p clas
  			</div>s="card-text">{{x["Description"]}}<br>Price: {{x["Price"]}} {{x["CurrencyCode"]}}</p>
    			<a href=products/{{x["ProductId"]}} class="btn btn-primary">More Details</a>
		</div>
		<br>
		{%endfor%}
{%endblock%}

