{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block heading %} Welcome to Our Pet Shop {% endblock %}
{% block content %}



<div class="row">

    <div class="col-4">
        <div class="card mx-auto" style="width: 100%;">
          <img src="https://www.tonimolina.com/img/cms/petsjpg.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Our Pets</h5>

            <a href="/pets" class="btn btn-primary">View</a>
          </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-auto" style="width: 100%;">
          <img src="https://cdn.mos.cms.futurecdn.net/vChK6pTy3vN3KbYZ7UU7k3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Your Cart</h5>

            <a href="/cart" class="btn btn-primary">View</a>
          </div>
        </div>
    </div>


</div>






















{% endblock %}
