{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block heading %} Welcome to Pets For You{% endblock %}
{% block content %}



<div class="row">

    <div class="col-5 d-flex align-items-stretch">
        <div class="card mx-auto" style="width: 100%;">
          <img src="https://www.tonimolina.com/img/cms/petsjpg.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
              <a href="/pets" class="btn btn-primary mt-auto"><h5>View Our Pets</h5></a>
          </div>
        </div>
    </div>
    <div class="col-5 d-flex align-items-stretch">
        <div class="card mx-auto" style="width: 100%;">
          <img src="https://cdn.mos.cms.futurecdn.net/vChK6pTy3vN3KbYZ7UU7k3.jpg" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <a href="/cart" class="btn btn-primary mt-auto"><h5>View Your Cart</h5></a>
          </div>
        </div>
    </div>


</div>






















{% endblock %}
