{% extends 'base.html' %}}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{heading}}{% endblock %}
{% block content %}
<p>Welcome to MyTeam - the all-in-one resource for managing your amateur football team.</p>
<p>Your previous admin headaches will become a distant memories as you utilise our core functions...</p>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="media/gallery/register.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Register Your Club</h5>
      <p class="card-text">It takes 5 minutes to set up an account and register your club. Then you can explore all of our features. Managing your team has never been so easy!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="/register">Create an Account and Register Your Club</a></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="media/gallery/calendar.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Scheduling and Admin</h5>
      <p class="card-text">Manage your fixture schedule, arrange training sessions and plan team events. Your players will always have all the information they need.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">LINK TO EXAMPLE</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="media/gallery/message.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Messaging</h5>
      <p class="card-text">Your squad will love how quick and simple it is for them to declare their availability and send you subscription fees. No more last-minute scrambling around for ringers!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">LINK TO EXAMPLE?</small>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="media/gallery/player2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Manage Your Squad</h5>
      <p class="card-text">Set up your club profile in 5 minutes. Recruit players by sending them a link to join your team.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">LINK TO EXAMPLE</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="media/gallery/team.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pick Team and Set Tactics</h5>
      <p class="card-text">Pick the best team for each match based on availability and squad strength. Send out tactical instructions ahead of the game.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">LINK TO EXAMPLE</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="media/gallery/stats.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Track Player Performances and Statistics</h5>
      <p class="card-text">Log match details after every game and build up an archive of club and player data over time.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">LINK TO EXAMPLE?</small>
    </div>
  </div>
</div>
<br>
{% endblock %}