.navbar {
  background: none;
  width: 100%; 
  opacity: 0.5;
}


.nav-item {
  color: red;
}

#headline {
  color: white;
  margin-top: 40px;
  text-align: center;
  font-size: 34px;
}

#buttonrow {
  margin-top: 20px;
}



#whitebutton {
  color: white;
  border-color: white;
}

.btn {
  font-size: 15px;
}