#drums {
	display: flex;
	padding-top: 250px;
	
	justify-content: center;
}
.drum {
	width: 70px;
	height: 70px;
	border: 2px solid gold;
	margin: 10px;
	color: gold;
	text-align: center;
	font-family: fantasy;

}

body {
	background-image: url("back.jpg");
	background-size: cover;
}

p {
	font-family: fantasy;
	font-size: 25px;
	color: white;
}