{% extends 'base.html' %}}
{% load crispy_forms_tags %}
{% block title %}{{title}}{% endblock %}
{% block heading %}{{heading}}{% endblock %}
{% block summary %}{{summary}}{% endblock %}
{% block content %}


<h1>{{club.name}} Squad List</h1>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Games</th>
      <th scope="col">Goals</th>
      <th scope="col">Assists</th>
      <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody>
  {% for player in players %}
  <tr>
      <td><a href="/profile/{{player.id}}" >{{player.first_name}} {{player.last_name}}</a></td>
      <td>{{player.position}}</td>
      <td>{{player.games|default_if_none:"0"}}</td>
      <td>{{player.goals|default_if_none:"0"}}</td>
      <td>{{player.assists|default_if_none:"0"}}</td>
      <td>{{player.rating|default_if_none:"N/A"}}</td>

  </tr>
  {% endfor %}
  </tbody>
</table>






{% endblock %}